target

#ignore files we don't need
firebase_cpp_sdk/*.txt
firebase_cpp_sdk/NOTICES
firebase_cpp_sdk/README.md
# ignore libs we don't need
firebase_cpp_sdk/libs/darwin
firebase_cpp_sdk/libs/linux
firebase_cpp_sdk/libs/tvos
firebase_cpp_sdk/libs/windows
# ios gets linked by pods
firebase_cpp_sdk/libs/ios
firebase_cpp_sdk/xcframeworks
firebase_cpp_sdk/frameworks
# we only need the c++ android libs
firebase_cpp_sdk/libs/android/*/gnustl